<!--#BeginBlock MenuBlock-->
<table class="menu" cellspacing="0" cellpadding="0" border="0">
	<caption>{{title}}</caption>
	<tr valign="top">
		<td width="16">&nbsp;</td>
		<td width="1"><img src="engine/admin/media/project.png"></td>
		<th><a href="admin.asp?webform={{subtitleaction}}">{{subtitle}}</a></th>
	</tr>
	<!--#BeginBlock PageBlock-->
	<tr>
		<td width="16">&nbsp;</td>
		<td width="1"><img src="{{image}}"></td>
		<td width="100%">&nbsp;<img src="{{menuimage}}" align="absmiddle" vspace=1/>&#160;<a href="admin.asp?webform={{menuaction}}">{{menulabel}}</a></td>
	</tr>
	<!--#EndBlock PageBlock-->
</table><br/>
<!--#EndBlock MenuBlock-->