span.website_name {font: 16pt Trebuchet MS; font-weight: bold; color: #000000;}
span.website_slogan {font: 13px verdana; font-weight: bold; color: #ffffff; font-style: italic;}
span.website_copyright {font: 11px verdana; color: white; text-align: center; width: 100%; font-weight: bold;}
span.webpage_name {color: #505050; font: 8pt verdana; font-weight: bold; text-transform: uppercase;}
